:root {
    /* Base colors */
    --color-bg: #ffffff;
    --color-text: rgba(0, 0, 0, 0.75);
    --color-border: #cccccc;

    /* status colors */
    --color-success: #4caf50;
    --color-error: #f3685e;
    --color-info: #037eff;

    --color-row-hover: #f5f5f5;
    --shadow-soft: 0 6px 12px rgba(0, 0, 0, 0.08);
}

:root[data-theme="gold-gray"] {
    /* status colors */
    --color-success: #228b22;
    --color-error: #ed4926ff;
    --color-info: #037eff;

    /* Brand & accents */
    --color-brand-primary: #b8860b;
    --color-brand-primary-medium: #cdaa00;
    --color-brand-primary-light: #fff3ad;
    --color-brand-accent: #ffec80ff;
    --color-brand-accent-orange: #d1932e;

    --color-brand-secondary: #a9a9a9;
    --color-brand-secondary-medium: #696969;
    --color-brand-secondary-light: #f5f5f5;
    --color-brand-secondary-hover: #e8e8e8;

    /* key elements */
    --color-text-header: rgba(0, 0, 0, 0.65);
    --color-text-dark: rgba(0, 0, 0, 0.87);
    --color-text-accent: #a2ccf6;

    --color-link: var(--color-brand-primary);
    --color-banner-bg: var(--color-brand-secondary-light);
    --color-banner-border: var(--color-brand-primary);

    --color-inflection-match: var(--color-brand-accent);
    --color-inflection-table-border: var(--color-brand-secondary);

    --color-tab: var(--color-brand-secondary-hover);
    --color-tab-hover: var(--color-brand-secondary-light);
    --color-tab-active: #ffffff;
}
