:root {
    /* Base colors */
    --color-bg: #ffffff;
    --color-text: rgba(0, 0, 0, 0.75);
    --color-border: #cccccc;

    /* status colors */
    --color-success: #4caf50;
    --color-error: #f3685e;
    --color-info: #037EFF;

    --color-row-hover: #f5f5f5;
    --shadow-soft: 0 6px 12px rgba(0, 0, 0, 0.08);
}

:root[data-theme="gold-gray"] {
    /* status colors */
    --color-success: #228B22;
    --color-error: #ed4926ff;
    --color-info: #037EFF;

    /* Brand & accents */
    --color-brand-primary: #B8860B;
    --color-brand-primary-medium: #CDAA00;
    --color-brand-primary-light: #FFF3AD;
    --color-brand-accent: #ffec80ff;
    --color-brand-accent-orange: #D1932E;

    --color-brand-secondary: #A9A9A9;
    --color-brand-secondary-medium: #696969;
    --color-brand-secondary-light: #F5F5F5;
    --color-brand-secondary-hover: #E8E8E8;

    /* key elements */
    --color-text-header: rgba(0, 0, 0, 0.65);
    --color-text-dark: rgba(0, 0, 0, 0.87);

    --color-link: var(--color-brand-primary);
    --color-banner-bg: var(--color-brand-secondary-light);
    --color-banner-border: var(--color-brand-primary);

    --color-inflection-match: var(--color-brand-accent);
    --color-inflection-table-border: var(--color-brand-secondary);

    --color-tab: var(--color-brand-secondary-hover);
    --color-tab-hover: var(--color-brand-secondary-light);
    --color-tab-active: #ffffff;
}
